.about-container {
    position: absolute;
    bottom: 0;
    z-index: 500;
    width: 70%;
    padding: 2rem;
}

.about-container > h1 {
    text-align: left;
}

.about-bio {
    font-size: 2vw;
    font-family: 'Roboto Serif', serif;
    margin-bottom: 0;
}