.about {
    background-color: var(--primary);
}

.about-container {
    padding: 2rem;
}

.about-container > h1 {
    font-size: 6vw;
}

.about-bio {
    font-size: 1.5vw;
    margin-bottom: 0;
}

.about-subheading {
    font-family: 'DM Serif Text', serif;
    font-weight: 100;
    font-size: 3vw;
    text-align: center;
}
