.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.project-item {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    gap: 1rem;
    padding: 1rem;
    color: var(--text);
}

.project-header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.project-header span {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.project-cover {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.project-details {
    position: relative;
}

.project-title {
    font-size: 1.5rem;
    margin: 0;
}

.project-tag {
    color: var(--secondary);
    font-size: 0.8rem;
    margin: 0;
}

.project-link {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    transition: color .3s ease;
}

.project-link:hover {
    color: var(--tertiary);
}

.project-description {
    font-size: 1rem;
}

.tech-stack {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.tech-item {
    color: var(--secondary);
    font-size: 0.8rem;
}