.skills {
    background-color: var(--primary);
    position: relative;
    z-index: 500;
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 1rem;
    gap: 3rem;
    z-index: 100;
}

.skill-box {
    border: 2px solid var(--text);
    width: 9%;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    transition: box-shadow ease-in-out .3s;
    color: var(--text);
}

.skill-title {
    margin: 0;
    text-align: center;
    font-size: 3vw;
    font-family: 'Roboto Mono', monospace;
}

.skill-logo {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.skill-box:hover {
    cursor: default;
}

.css:hover {
    box-shadow: inset 0px -500px 0px 0px rgba(2, 119, 189, .3);
}

.html:hover {
    box-shadow: inset 0px -500px 0px 0px rgba(230, 81, 0, .3);
}

.tsx:hover {
    box-shadow: inset 0px -500px 0px 0px rgba(0, 122, 204, .3);
}

.php:hover {
    box-shadow: inset 0px -500px 0px 0px rgba(86, 100, 161, .3);
}

.py:hover {
    box-shadow: inset 0px -500px 0px 0px rgba(254, 214, 85, .3);
}

.java:hover {
    box-shadow: inset 0px -500px 0px 0px rgba(231, 111, 0, .3);
}